body{
    background-color: black;
    
}

.card{
    width: 250px;
    margin: 0 auto;
    background-color: white;
}

.header-image{
    width: 100%;
}

.awesomearticle{
    padding: 10%;
    text-align: center;
}

footer{
    background-color: #465b8b;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* align-content: center;
    justify-content: center; */
    margin: 0 auto;
}

div{
    text-align: center; 
}

.middle-box{
    border: solid 1px grey;
}