@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Roboto+Mono:wght@100&display=swap');

:root{
    --heading-font: "Raleway";
    --paragraph-font: 'Raleway', monospace;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}

body{
    background-color: #fcfcfc;
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.logo{
    width: 80px;
    display: inline;
    margin-right: auto;
}

#logo_link{
    padding-top: 5px;
    justify-content: center;
    align-self: center;
}

header{
    background-color: rgba(0,0,0,0.5);
    color: #386106;
    display: grid;
    grid-template-columns: 150px auto;
}

nav{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav a{
    text-align: center;
    color: #fcfcfc;
    text-decoration: none;
    padding: 35px;
}

nav a:hover{
    background-color: #386106;
    color: yellow;
    text-decoration: underline;
}

#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img{
    width: 100%;
}

#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 125px;
    border-radius: 25px;
    padding: 5%;
    text-align: center;
    color: #fcfcfc;
    background-color: rgba(0,0,0,0.5);
}

h4{

}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
}